version: 2
jobs:
  lint:
    docker:
      - image: circleci/node:9.10.1
    working_directory: ~/repo
    steps:
      - checkout
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "package.json" }}
            - v1-dependencies-
      - run: yarn install
      - save_cache:
          paths:
            - node_modules
          key: v1-dependencies-{{ checksum "package.json" }}
      - run: yarn lint
  deploy:
    docker:
      - image: circleci/node:9.10.1
    working_directory: ~/repo
    steps:
      - checkout
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "package.json" }}
            - v1-dependencies-
      - run: yarn install
      - save_cache:
          paths:
            - node_modules
          key: v1-dependencies-{{ checksum "package.json" }}
      - run:
        - >-
          git config --global user.email "gdgdivi@gmail.com"
          git config --global user.name "GDG Divi [BOT]"
          gatsby build
          gh-pages -d public -b master -r git@github.com:gdgdivi/gdgdivi.github.io.git -m 'Deploy new version'

workflows:
  version: 2
  build:
    jobs:
      - lint
      - deploy:
          requires:
            - lint
          filters:
            branches:
              only:
                - master
