:root {
  --gdg: #4285F4;
  --twitter: #55acee;
  --github: #161514;
  --facebook: #3b5998;
  --meetup: #EA1938;
  --linkedin: #1178B3;
  --instagram: #e95950;
}

html {
  font-size: 16px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  line-height: 1.5;
}

.container {
  max-width: 940px;
}

.navbar-item img {
  max-height: initial;
}

body, button, input, select, textarea, a, p, h1, h2, h3, h4 {
  font-family: 'Roboto', sans-serif;
  color: #676C71;
  font-weight: 100;
}

svg {
  height: auto;
  max-height: 100%;
  max-width: 100%;
  width: auto;
}
